<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My name is Shakir Ullah, I am from Pakistan <%= name %></h1>

    <ul>
        <li>
            Title: <%= products[0].title %> <br>
            Price: <%= products[0].price %><br><br>

            title:<%= products[1].title %><br>
            price:<%=products[1].price %>
        </li>
    </ul>
</body>
</html>